@charset "utf-8"

* {

}

html {height: 100%;}

body {
    margin: 0;
    padding: 0;
    width: 99,9%;
    height: 100%;
    color: #333;
    background: #d9ecf0;
    font-size: 1em;
    font-family: "Segoe UI", sans-serif;
    line-height: 135%;
}

/* Links */
a {
  color: #1b527e;
  text-decoration: none;
  transition: all.4s ease;
  -moz-transition: all.4s ease;
  -webkit-transition: all.4s ease;
  -ms-transition: all.4s ease;
}
a:hover {
  color: #615ecd;
  text-decoration: none;
  transition: all.4s ease;
  -moz-transition: all.4s ease;
  -webkit-transition: all.4s ease;
  -ms-transition: all.4s ease;
}
a:active {color: #1a3571}

img {
  max-width: 100%;
  height: auto;
  width: auto\9;
}

hr {
  display: block;
  border: 0;
  height: 1px;
  border-top: 1px solid #538c99;
  padding: 0;
}

/* Selection Block */
::selection {background: #3351bd; color: #fff}
::-moz-selection {background: #3351bd; color: #fff}

header, footer {
  width: 98%;
  background-color: #7dbcdf;
  min-height: 50px;
  float: left;
}

/* HEAD */

header {
  padding: 1%;
  padding-bottom: 0;
  padding-top: 16px;
  border-bottom: 2px solid #7779fb;
}

#logo {
  font-size: 1.6em;
}
#contact {
  margin-left: 10px;
  font-size: 1.3em;
  text-transform: capitalize;
}

input[type=text].field {
  border-radius: 8px;
  border: 2px solid #7779fb;
  padding: 5px;
  float:right;
}
input[type=text].field:focus {border: 2px solid #3b77be;}

.right {float:right;}
.left {float:left;}
.clear{clear: both;}

#menuHrefs a {
  padding: 5px;
  border-radius: 5px;
  margin-right: 5px;
  color: #26508e;
}
#menuHrefs a:hover {background-color: #9db2dd}

#menu {
  color: #26508e;
  font-size: 1.7em;
}
#menu hr {
  color: #26508e;
  width: 500px;
  max-width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
}

/* FOOTER */

footer {
  position: absolute;
  bottom: 0;
  padding: 1%;
  border-top: 2px solid #7779fb;
  margin-top: 10px;
}
footer img {width: 30px; margin-right: 5px}
