@charset "utf-8"
*{}
body {
  margin: 0;
  padding: 0;
  color: #333;
  background: #d9ecf0;
  font-size: 1em;
  font-family: "Segoe UI", sans-serif;
  line-height: 135%;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
  }

.content {
    min-height: calc(100vh - 80px);
  }

  /* Links */

  a {
    color: #1b527e;
    text-decoration: none;
    transition: all.2s ease;
    -moz-transition: all.2s ease;
    -webkit-transition: all.2s ease;
    -ms-transition: all.2s ease;
  }
  a:hover {
    color: #89ece9;
    text-decoration: none;
    transition: all.2s ease;
    -moz-transition: all.2s ease;
    -webkit-transition: all.2s ease;
    -ms-transition: all.2s ease;
  }
  a:active {color: #1a3571}

  img {
    max-width: 100%;
    height: auto;
    width: auto\9;
  }

  hr {
    display: block;
    border: 0;
    height: 1px;
    border-top: 1px solid #538c99;
    padding: 0;
  }

  /* Selection Block */
  ::selection {background: #3351bd; color: #fff}
  ::-moz-selection {background: #3351bd; color: #fff}

  header, footer {
    background-color: #7dbcdf;
    min-height: 50px;
    float: left;
  }

  /* HEAD */

  header {
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 0;
    padding-top: 16px;
    border-bottom: 2px solid #7779fb;
  }

  #logo {
    font-size: 1.6em;
  }
  #contact {
    margin-left: 10px;
    font-size: 1.3em;
    text-transform: capitalize;
  }

/* FORMS */

header input {float:right;}

input {
    border-radius: 8px;
    border: 2px solid #7779fb;
    padding: 5px;
  }
input:focus {border: 2px solid #2fe2dc;}

form {
  border: 2px solid silver;
  width: 40%;
  margin-left: 30%;
  float: left;
}

form input, form label, form textarea, form #send {
  display: block;
  margin: 5px;
  width: 50%;
  margin-left: 25%;
  float: left;
}

textarea {
  border-radius: 8px;
  border: 2px solid #7779fb;
  padding: 5px;
  clear: both;
  margin: 10px;
  font-size: 1.2em;
}
textarea:focus {border: 2px solid #2fe2dc;}

form #send {
  background-color: #88b1cc;
  border-radius: 5px;
  padding: 2%;
  cursor: pointer;
  width: 40%;
  margin-left: 30%;
}

form #send:hover {border: 2px solid #2966a6; background-color: #c3e5f1; color: #21487c}

  .right {float:right;}
  .left {float:left;}
  .clear{clear: both;}

  #menuHrefs a {
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
    color: #26508e;
  }
  #menuHrefs a:hover {background-color: #9db2dd}

  #menu {
    color: #26508e;
    font-size: 1.7em;
  }
  #menu hr {
    color: #26508e;
    width: 500px;
    max-width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  /* Main styles for website */

  #block {
    float: left;
    width: 100%;
    margin-top: 20px;
  }
  #block #articles {
    float: left;
    width: 70%;
    margin-left: 15%;
  }

  #block #articles article {
    float: left;
    width: 31.3%;
    border:1px solid #4d8dc1;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-right: 2%;
    min-height: 400px;
  }

/* Adaptation */

  @media (min-width: 700px){
    #block #articles article {
      width: 31.3%;
      margin-right: 2%;}
  }

  @media (max-width:699px){
    #block #articles article {
      width: 100%;
      margin-bottom: 10px;}
      body {font-size: 0.5em;}
      footer a img {width: 10%;}
      form #send {font-size: 1em}
      form {width: 80%; margin-left: 10%;}
      form input, form label, form textarea, form #send {
        display: block;
        margin-left: auto;
        margin-right: auto }
      form #send {margin-left: 20px;}
  }

  #block #articles article img {
    width: 100%;
    height: 200px;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 1px solid #4d8dc1;
  }

  #block #articles article h3 {
    width: 90%;
    margin-left: 5%;
    font-weight: normal;
    font-size: 1.5em;
  }

  #block #articles article p, #about_us p, #columnRight p, #art_page p {
    width: 80%;
    margin-left: 10%;
    text-indent: 1em;
  }

  #block #articles article a {
    padding: 5px;
    border-radius: 5px;
    margin-left: 5%;
    color: #282a34;
    float: left;
    margin-bottom: 5%;
  }
  #block #articles article a:hover {
    background-color: #507a96;
    color: #ffffff;
    transition: all.2s ease;
  }

/* Page About Us */

#about_us {
  width: 62%;
  float: left;
  border:1px solid #4d8dc1;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #f9f9f9;
  padding: 1%;
}

#columnRight {
  width: 33%;
  margin-left: 5%;
  float: left;
  border:1px solid #4d8dc1;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #f9f9f9;
  padding: 1%;
}

/* Article page */

#art_page img {
  margin-left: 10%;
  width: 40%;
  height: auto;
  border: 2px solid silver;
}

.leftimg {
    float:left; /* Выравнивание по левому краю */
    margin: 10px 10px 10px 0; /* Отступы вокруг картинки */
   }

#art_page {
  height: 50%;
  width: 80%;
  margin-left: 10%;
}

/* Center block og our site */

#main_soc_block {
  width: 100%;
  padding: 2% 0;
  border-bottom: 2px solid silver;
  border-top: 2px solid silver;
  margin: 20px 0;
  float: left;
  background: url("../img/social.jpg") repeat-x center;
  height: 180px;
}

#main_soc_block_in {
  text-align: center;
  padding: 1%;
  height: 180px;
  background-color: #d9ecf0;
  border-radius: 10px;
  width: 360px;
  max-width: 98%;
  box-sizing: border-box;
}
#main_soc_block_in h3 {color: #1b527e; font-size: 1.4em}
#main_soc_block_in a {
  font-size: 1.1em;
  background-color: #88b1cc;
  border-radius: 5px;
  padding: 2%;
}
#main_soc_block_in a:hover {border: 1px solid #2966a6; background-color: #c3e5f1; color: #21487c}

/* FOOTER */

  footer {
    padding-left: 2%;
    padding-right: 2%;
    width: 96%;
    height: 78px;
    border-top: 2px solid #7779fb;
  }
  footer img {width: 30px; margin-right: 5px}
